@font-face {
  font-family: 'PoppinsMedium';
  src: url('../fonts/Poppins/Poppins-Medium.eot');
  src: url('../fonts/Poppins/Poppins-Medium-1.eot') format('embedded-opentype'), url('../fonts/Poppins/Poppins-Medium.woff') format('woff'), url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype'), url('../fonts/Poppins/Poppins-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Chatbots styles*/
.buildChatbot.commonBottomSection {
  border: none;
}
.chatbotEnterprise h3,
.chatbotEnterprise ul li,
.chatbotsIndustries .searchEngineSubhead,
.searchEngineSubhead {
  padding-bottom: 20px;
}
.chatbotsIndustries .searchEngineSubhead,
.searchEngineSubhead,
.buildChatbot h3 {
  text-align: center;
}
.chatbotIndFirstList {
  width: 100%;
  display: table;
  padding-bottom: 0;
}
.chatbotIndFirstList>div,
.chatbotIndSecondList>div {
  display: table-cell;
  padding: 0 30px;
  text-align: center;
}
.chatbotIndFirstList>div {
  width: 33%;
}
.chatbotIndSecondList {
  display: table;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 0;
}
.chatbotIndSecondList>div {
  width: 50%;
}
.chatbotEnterprise .listTextCommon {
  margin: 0 auto;
  width: 95%;
}
.chatbotEnterprise .listTextCommon p,
.chatbotEnterprise ul li:last-child,
.chatbotPersonalityWrapperSecond.chatbotPersonalityWrapper>div p {
  padding-bottom: 0;
}
.chatbotEnterprise.paraPadding .chatEnteprisetext {
  padding-bottom: 30px;
}
.chatbotPersonalityWrapper {
  margin: 0px auto;
  width: 100%;
  padding: 0px;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  -ms-flex-flow: row;
  -moz-flex-flow: row;
}
.chatbotPersonalityWrapper>div {
  -webkit-flex: 50%;
  -o-flex: 50%;
  flex: 50%;
  -ms-flex: 50%;
  -moz-flex: 50%;
  margin: 25px;
  padding: 5px;
  background: #fff;
  padding: 40px 30px;
  border-radius: 4px;
}
.chatbotPersonalityWrapper>div:first-child {
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 20px;
}
.chatbotPersonalityWrapper>div:nth-child(2) {
  padding-right: 0;
  margin-right: 0;
}
.chatbotPersonalityWrapperSecond.chatbotPersonalityWrapper>div {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.chatbotIndFirstList div img,
.chatbotIndFirstList div h3,
.chatbotPersonalityWrapper h3,
.chatbotIndSecondList h3 {
  padding-bottom: 5px;
}
.chatbotPlatform p span {
  background-image: url(../images/responsive/solution/chatbots/chatbotsLogos.png);
  height: 35px;
  display: flex;
  margin: 0 auto;
}
.chatbotPlatform p:first-child span {
  background-position: -8px -82px;
  max-width: 125px;
}
.chatbotPlatform p:nth-child(2) span {
  background-position: -140px -82px;
  max-width: 130px;
}
.chatbotPlatform p:nth-child(3) span {
  background-position: -275px -82px;
  max-width: 185px;
}
.chatbotPlatform p:nth-child(4) span {
  background-position: -465px -82px;
  max-width: 232px;
}
.chatbotPlatform p {
  margin: auto;
  display: inline-block;
}
.buildChatbot h3,
.buildChatbot .chatbotIndFirstList {
  padding-top: 40px;
}
.chatbotPlatform {
  padding: 50px 0;
}
/*webapps*/
.microFirst {
  display: table;
}
.microsoftMain .microFirst .spLogo,
.microFirst p {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.erlangCaseContentWrapper .rightTextData {
  padding-left: 5%;
}
.digitalMarketingTab .wrapper2 ul .owl-item.active span {
  color: #575757;
  font-family: 'Nunito',sans-serif;
  font-weight: 400;
}
.digitalMarketingTab .wrapper2 ul .active span, 
.digitalMarketingTab .wrapper2 ul .owl-item.active li a.active span {
  color: #da3a36;
  font-family: 'Nunito',sans-serif;
  font-weight: 700;
}
.imgHolder.weappLogoList li {
  display: inline-block;
}
.block-img-holder li span {
  background-image: url(../images/responsive/commons/logoListSprites.png);
  height: 94px;
  margin: auto;
  display: flex;
}
.weappLogoList li span {
  background-image: url(../images/responsive/service/web/webapps/sprite.png);
}
.cmsClientLogos li span {
  background-image: url(../images/responsive/service/web/webSprites.png);
}
.weappLogoList li span,
.cmsClientLogos li span {
  height: 94px;
  margin: auto;
  max-width: 165px;
  display: flex;
}
.block-img-holder li:first-child span {
  background-position: -3380px 96px;
  max-width: 98px;
}
.block-img-holder li:first-child:hover span {
  background-position: -3380px 186px;
}
.block-img-holder li:nth-child(2) span {
  background-position: -3478px 86px;
  max-width: 220px;
}
.block-img-holder li:nth-child(2):hover span {
  background-position: -3478px 176px;
}
.block-img-holder li:nth-child(3) span {
  background-position: -3864px 99px;
  max-width: 250px;
}
.block-img-holder li:nth-child(3):hover span {
  background-position: -3864px 187px;
}
.block-img-holder li:nth-child(4) span {
  background-position: -3710px 87px;
  max-width: 150px;
}
.block-img-holder li:nth-child(4):hover span {
  background-position: -3710px 176px;
}
.block-img-holder .blockchain-img-list:nth-child(3) {
  width: 27%;
}
.block-img-holder .blockchain-img-list:nth-child(4) {
  width: 23%;
}
.weappLogoList li:nth-child(3) span {
  max-width: 175px;
}
.cmsClientLogos li:nth-child(2) span,
.cmsClientLogos li:nth-child(3) span {
  max-width: 130px;
}
.weappLogoList li:first-child span {
  background-position:  0 -100px;
}
.weappLogoList li:first-child:hover span {
  background-position:  0 -7px;
}
.weappLogoList li:nth-child(2) span {
  background-position:  -155px -95px;
}
.weappLogoList li:nth-child(2):hover span {
  background-position: -155px -2px;
}
.weappLogoList li:nth-child(3) span {
  background-position: -329px -100px;
}
.weappLogoList li:nth-child(3):hover span {
  background-position:  -329px -7px;
}
.cmsClientLogos li:first-child span {
  background-position:  -165px -100px;
}
.cmsClientLogos li:first-child:hover span {
  background-position:  -165px 2px;
}
.cmsClientLogos li:nth-child(2) span {
  background-position: -1065px -103px;
}
.cmsClientLogos li:nth-child(2):hover span {
  background-position: -1065px 9px;
}
.cmsClientLogos li:nth-child(3) span {
  background-position: -1182px -92px;
}
.cmsClientLogos li:nth-child(3):hover span {
  background-position: -1182px 9px;
}
.cmsLists ul.listTextCommon {
  width: 88%;
}
.rubyCrossSubDescription p,
.microFirst p {
  padding-left: 20px;
}
.aspimg {
  background: url("../images/responsive/service/web/webapps/ruby/asp.png") no-repeat left center;
  height: 29px;
  margin: 0 auto;
  width: 100px;
}
.javaimg {
  background: url("../images/responsive/service/web/webapps/ruby/javalog.png") no-repeat center center;
  height: 29px;
  margin: 0 auto;
  width: 60px;
}
.lampimg {
  background: url("../images/responsive/service/web/webapps/ruby/lamp.png") no-repeat center center;
  height: 29px;
  margin: 0 auto;
  width: 68px;
}
.rubyimg {
  background: url("../images/responsive/service/web/webapps/ruby/rubyonrails.png") no-repeat center center;
  height: 29px;
  margin: 0 auto;
  width: 115px;
}
.pythonimg {
  background: url("../images/responsive/service/web/webapps/ruby/pyth.png") no-repeat center center;
  height: 29px;
  margin: 0 auto;
  width: 91px;
}
.nodeimg {
  background: url("../images/responsive/service/web/webapps/ruby/node.png") no-repeat center center;
  height: 29px;
  margin: 0 auto;
  width: 94px;
}
.erlangimg {
  background: url("../images/responsive/service/web/webapps/erlang/erlang.png") no-repeat center center;
  height: 29px;
  margin: 0 auto;
  width: 94px;
}
li.active .rubyimg {
  background: url("../images/responsive/service/web/webapps/ruby/rubyonrailsactive.png") no-repeat center center;
  height: 29px;
  margin: 0 auto;
  width: 115px;
}
li.active .erlangimg {
  background: url("../images/responsive/service/web/webapps/erlang/erlangactive.png") no-repeat center center;
  height: 29px;
  margin: 0 auto;
  width: 94px;
}
li.active .nodeimg {
  background: url("../images/responsive/service/web/webapps/ruby/nodeactive.png") no-repeat center center;
  height: 29px;
  margin: 0 auto;
  width: 94px;
}
li.active .pythonimg {
  background: url("../images/responsive/service/web/webapps/ruby/pythonactive.png") no-repeat center center;
  height: 29px;
  margin: 0 auto;
  width: 91px;
}
li.active .javaimg {
  background: url("../images/responsive/service/web/webapps/ruby/java-act.png") no-repeat center center;
  height: 29px;
  margin: 0 auto;
  width: 60px;
}
li.active .aspimg {
  background: url("../images/responsive/service/web/webapps/ruby/netactive.png") no-repeat center center;
  height: 40px;
  margin: 0 auto;
  width: 100px;
}
li.active .lampimg {
  background: url("../images/responsive/service/web/webapps/ruby/lamp.png") no-repeat center center;
  height: 29px;
  margin: 0 auto;
  width: 68px;
}
.crossPlatformNav #mobMenuHolder li p {
  padding: 5px;
  line-height: 1;
  display: table-cell;
  vertical-align: middle;
}

/*webapps-end*/


/*block chain*/
.biContent .listTextCommon .innerList li span:first-child {
  color: #da3a36;
}
#toggle-less,
#toggle-more,
#label-in-mobile {
  display: none;
}
#label-in-mobile,
#label-in-desktop {
  color: #262626;
  font-family: 'Nunito',sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.text-data,
.windowWrapper .bigDataWrapper {
  display: table;
}
.text-data div {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.text-data div:nth-child(1),
.text-data div:nth-child(3) {
  margin-right: 2%;
}
.windowWrapper .leftTextData,
.windowWrapper .rightTextData {
  box-sizing: border-box;
  display: table-cell;
}
.windowWrapper .leftTextData {
  padding-right: 15px;
}
.windowWrapper .rightTextData {
  padding-left: 15px;
}
#public-private h2 {
  border: none !important;
}
#public-private p {
  margin-top: 0;
}
.biContainer .rightTextData {
  padding-left: 15px;
  padding-top: 15px;
  box-sizing: border-box;
}
.cmsRightData.drupalcmsRightData {
  padding-top: 50px;
}
.blockchain-app {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.desktop-view-content {
  width: 32%;
  padding: 0 40px;
  box-sizing: border-box;
  line-height: 30px;
  float: left;
}
.blockchain-app .blockchain-icons {
  font-size: 40px;
  padding-bottom: 33px;
  text-align: center;
}
.blockchain-app h3 {
  text-align: center;
}
.blockchain-img-list:nth-child(2),
.blockchain-img-list:nth-child(4) {
  margin-top: 14px;
}
.iconArrow {
  float: right;
  margin-top: 5px;
}
.write-comments {
  display: block;
  text-align: center;
  padding-bottom: 60px;
}
.write-comments.buttonHover {
  padding-bottom: 0;
}
.write-comments button {
  width: 180px;
  margin: 20px auto;
  font-size: 14px;
  text-transform: none;
}
.inquiry-para {
  text-align: center;
}
.casestudiesBtn:hover {
  border-color: #e62422;
  color: #e62422;
}
.block-img-holder .blockchain-img-list {
  width: 25%;
  float: left;
}
.block-img-holder {
  margin: 50px auto 15px;
  text-align: center;
  width: 100%;
}
#blockchain-app-container {
  padding-bottom: 60px;
}
.bigDataService.biWrapper,
.content .bigDataService.winContentSection,
.content .windowsServiceWrapper.bigDataWrapper {
  width: 100%;
}

/*webapps*/

#pythonCont .mainDesc {
  display: table;
  margin-top: 30px;
  width: 100%;
}
#pythonCont .pythonLogo {
  display: table-cell;
  vertical-align: middle;
  width: 35%;
}
#pythonCont .expandTitle {
  display: table-cell;
  padding-left: 20px;
}
#pythonCont .subSection {
  display: table;
  margin: 30px auto;
}
#pythonCont .subSection div:nth-child(1) {
  display: table-cell;
  padding-right: 30px;
  width: 37%;
}
#pythonCont .subSection div:nth-child(2) {
  display: table-cell;
  width: 65%;
}
#pythonCont .subSection div p {
  padding-top: 15px;
}
#pythonCont .subSection ul li {
  padding: 15px 0 0;
  width: auto;
  // font-size: 16px;
}
#pythonCont .subSection ul li span:nth-child(2) {
  display: inline-block;
  width: 85%;
  color: #262626;
}
#pythonCont .subSection .twinSec .adjustMargin {
  margin-top: 30px;
  padding-left: 0;
}
#javaContent .javaLogo {
  display: table-cell;
  padding-right: 40px;
  width: 112px;
}
#javaContent .mainDesc div:nth-child(2) {
  display: table-cell;
  vertical-align: middle;
  width: auto;
}
#javaContent .midSection {
  margin: 30px auto;
}
#javaContent .midSection div:nth-child(1) {
  display: table-cell;
  width: auto;
}
#javaContent .midSection .expandTitle {
  margin: 10px 0 30px;
}
#javaContent ul li {
  display: inline-block;
  padding-bottom: 15px;
  width: 100%;
}
#javaContent .erlangRightContent ul li,
#javaContent .bottomTable ul li {
  display: list-item;
}
.bottomTable ul.listTextCommon li {
  color: #000;
}
#javaContent .midSection ul li span:nth-child(2) {
  color: #262626;
}
#javaContent ul li:nth-last-child(1) {
  padding-bottom: 0;
}
#javaContent ul li span:nth-child(2) {
  display: inline-block;
  width: 85%;
  color: #262626;
}
#javaContent .midSection .java-excel-image {
  display: table-cell;
  padding-left: 40px;
  text-align: right;
  vertical-align: middle;
  width: 42%;
}
#javaContent .bottomTable {
  margin: 10px 0 25px;
  width: 100%;
}
#javaContent .bottomTable p {
  display: table-cell;
  padding-right: 30px;
  width: 60%;
}
#javaContent .bottomTable ul {
  border-left: 3px solid #da3a36;
  display: table-cell;
  padding-left: 30px;
  vertical-align: middle;
  width: 30%;
}
#javaContent .bottomTable ul li .icon-Bullet-1 {
  color: #000;
}
#nodeMain .nodeHeading {
  margin-top: 30px;
}
.umbracoLogo,
#nodeMain .nodeLogo {
  padding-right: 20px;
}
#nodeMain .nodeLogo {
  display: table-cell;
  width: 30%;
}
#nodeMain .nodeHeading .expandTitle {
  display: table-cell;
  vertical-align: middle;
  width: auto;
}
.expandTitle.wpPara {
  padding-bottom: 20px;
}
#nodeMain .nodeContent {
  margin: 30px auto;
}
#nodeMain .nodeContent > div {
  margin-bottom: 30px;
}
#nodeMain .nodeContent .nodeCell {
  display: table-cell;
  padding-right: 40px;
  width: 50%;
}
#nodeMain .nodeContent .nodeCell:nth-child(2) {
  padding: 0;
  width: 48%;
}
#nodeMain .nodeContent .nodeCell .expandTitle,
#nodeMain .nodeContent .nodeCell p,
#nodeMain .nodeContent .nodeCell ul {
  margin-top: 10px;
}
#nodeMain .nodeContent .nodeCell ul li {
  padding-bottom: 15px;
}
#nodeMain .nodeContent .nodeCell ul li span {
  font-size: 16px;
}
#nodeMain .nodeContent .nodeCell ul li:nth-last-child(1) {
  padding: 0;
}
#nodeMain .nodeContent .nodeCell ul li span:nth-child(2) {
  display: inline-block;
  width: 85%;
  color: #262626;
  font-style: 14px;
}
.rightaspnetData {
  float: right;
  width: 40%;
  margin-top: 20px;
}
.rightaspnetData .listText {
  margin-top: 15px;
}
.leftaspnetData {
  float: left;
  width: 50%;
  margin-top: 20px;
}
.aspnetLastContent {
  margin-top: 15px;
}
.webApps h3 {
  font-family: 'OpenSansRegular';
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 20px;
}
.webApps p {
  margin-bottom: 20px;
}
.details-heading {
  margin-top: 40px;
}
.rubyLogo {
  width: 11%;
}
#caseouterContent .outerSecond h2,
.bigDataContent h2,
#mobileNewsCaseouter .outerSecond h2,
.mobBlck h2,
.featuredBlock h2 {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-bottom: 1px solid #EBEBEB !important;
  border-image: none;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 1px solid #EBEBEB;
  padding: 7px 0;
  text-align: center;
}

/*webapps -ens*/


/*styles for sharepoint*/
.servicecontent {
  width: 32%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #b5b5b5;
  box-sizing: border-box;
  text-align: center;
}
.microIntFirstSection,
.biContainer,
.biContent,
.aspnetFirstSection {
  width: 75%;
  margin: 0 auto;
}
.biContainer {
  float: none;
  margin: 0 auto !important;
}
.sharepointimg {
  border: 6px solid #f4f4f4;
  padding: 0;
  border-radius: 0;
  width: auto;
}

/*windows page in microsoft*/

.winContentSection {
  margin-bottom: 50px !important;
}
.winP {
  margin-top: 25px !important;
}
.windowBox {
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  padding: 30px;
  overflow: auto;
  display: table;
}
.windowsBoxContent {
  display: table-cell;
  width: 80%;
  vertical-align: middle;
}
.windowBox h3 {
  font-size: 22px;
}
.windowBox img {
  margin-left: 30px;
  display: table-cell;
  vertical-align: middle;
  float: right;
}
.windowsService ul {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  text-align: center;
  margin: 20px auto;
}
.windowsService ul li {
  width: 25%;
  padding: 30px;
}
.windowsService ul li img {
  width: 60px;
}
.winApp {
  padding-bottom: 15px;
  border-bottom: 1px solid #EBEBEB;
}
.winInquiry {
  text-align: center;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.winInquiry p {
  margin: 10px auto;
}
.winDetails .listText {
  margin: 10px auto 0px;
}
.winDetails .listText li {
  padding-bottom: 10px;
}
.erlangIntroMain .headDesc {
  text-align: left;
  margin-top: 0px;
}
// .erlangIntro {
//     float: left;
// }
.erlangIntro .mainDesc {
  margin-top: 30px;
}
.erlangIntro .javaLogo {
  vertical-align: middle;
}
.erlangContent {
  // float: left;
  // width: 100%;
  margin-top: 60px;
  display: table;
}
.erlangImg {
  float: left;
  width: 100%;
  padding: 30px 0px;
  text-align: center;
  background-color: #f6f6f6;
  margin-top: 30px
}
.erlangImg h2 {
  margin-bottom: 10px;
}
.erlangImgHolder {
  padding-top: 20px;
  width: 82%;
  margin: 0 auto;
}
.erlangImgHolder img {
  padding-right: 3%;
  padding-left: 3%;
}
.erlangBottom {
  margin: 0 auto;
  padding: 40px 0px;
  overflow: hidden;
}
.erlangBlock {
  float: none;
  width: 88%;
  margin: 20px auto 40px;
  color: #262626;
  max-width: 1500px;
}
.erlangIntroMain .expandTitle {
  margin-top: 20px;
}
.erlangContent p {
  margin-top: 10px;
}
.erlangContentWrap {
  margin-top: 30px;
}
.erlangLeftContent {
  display: table-cell;
  padding-right: 10%;
  border-right: 3px solid #da3a36;
}
.erlangRightContent {
  display: table-cell;
  width: 28%;
  padding-left: 5%;
  vertical-align: middle;
}
.erlangBottom ul,
.erlangRightContent ul {
  margin-top: 10px;
}
.erlangBottom li {
  padding-bottom: 10px;
  color: #727272;
}
.erlangBtn {
  float: none;
  margin-top: 0;
  padding-top: 50px;
  border-top: 1px solid #ebebeb;
  width: 82%;
  overflow: hidden;
  padding-bottom: 60px;
}
.erlangBtn .caseStudyButton {
  width: 110px!important;
  padding-bottom: 12px!important;
}
.biContent .innerList {
  margin: 0px 0px 0px 8%!important;
  width: 92%;
}
.biContainer .leftTextData,
.biContainer .rightTextData {
  margin-top: 0px;
}
.biContainer .leftTextData p:nth-child(2) {
  margin-top: 20px;
}
.biContent .listText {
  margin-top: 10px;
}
.biContent .listText li {
  padding-bottom: 10px;
}
.biPerformance {
  margin-top: 20px;
}
.biPerformance p:nth-child(3) {
  margin-bottom: 10px;
}
.biImage {
  text-align: center;
  margin-top: 20px;
}
.biImage p {
  text-align: center;
  margin-top: 10px;
}
.biButton {
  margin-top: 30px;
}
.biButton .caseStudyButton {
  margin-top: 20px;
}
.wordpressLogo {
  width: 236px!important;
}

/* cms page*/

.cmsText .bigDataService .rightTextData .cmsList .listText {
  margin-top: 10px;
}
.cmsText .bigDataService .rightTextData .cmsList .listText li {
  padding-bottom: 12px;
}
.cmsContainer {
  margin-left: 5%;
  width: 45%!important;
}
.cmsContainer .listText .listCont {
  width: 92%;
}
.cmsFeaturedContainer {
  border-bottom: 1px solid #e3e3e3;
}
.cmsImages {
  margin-bottom: 45px!important;
}
.cmsText .leftTextData .bigDataPara {
  margin-top: 0px;
  margin-bottom: 10px;
}
.sliderHolder {
  // float: left!important;
  width: 100%;
  margin-bottom: 60px!important;
}
.cmsContainer .listText {
  margin-top: 10px;
}
.cmsSlider .slides img {
  width: auto!important;
  margin: 0 auto;
}
.cmsMain {
  display: table;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.cmsData {
  border-right: 3px solid #E51E25;
  ;
  line-height: 24px;
  margin-top: 20px;
  width: 69%;
  display: table-cell;
}
.cmsLeftData {
  padding-right: 9%;
}
.cmsLeftData,
.cmsRightData {
  display: inline-block;
  width: 42%;
  margin-bottom: 40px;
  float: left;
}
.cmsData h3 {
  color: #262626;
  font-size: 22px;
}
.cmsData p {
  margin-top: 10px;
}
.cmsData h2 {
  margin-bottom: 40px;
}
.cmsList {
  display: table-cell;
  padding-left: 3%;
  vertical-align: middle;
  width: 31%;
}
.cmsPara p {
  margin-top: 0px;
}
.cmsList ul {
  margin-top: 10px;
}
.icon-Drupal {
  background: url("../images/responsive/service/web/cms/Drupal.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
  width: 34px;
}
.icon-Joomla {
  background: url("../images/responsive/service/web/cms/Joomla.png") no-repeat scroll 0 8px rgba(0, 0, 0, 0);
  width: 34px;
}
.icon-WordPress {
  background: url("../images/responsive/service/web/cms/Wordpress.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
  width: 34px;
}
.icon-CQ5 {
  background: url("../images/responsive/service/web/cms/CQ5.png") no-repeat scroll 0 6.5px rgba(0, 0, 0, 0);
  width: 34px;
}
.icon-Umbraco {
  background: url("../images/responsive/service/web/cms/Umbraco.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
  width: 34px;
}
.emisDevelopment p {
  padding-bottom: 33px;
}
.cmsNav #mobMenuHolder {
  width: 100%;
}
.cmsNav #mobMenuHolder li {
  width: 19%;
}

/*aem page*/

.aemLogo,
.aemLogo img {
  height: 129px;
  width: 125px;
}
.aemExpertise h2 {
  margin-bottom: 10px;
}
.aemSection {
  margin-top: 20px;
  display: table;
}
.aemExpertise {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  float: left;
}
.aemImage {
  width: 26%;
  display: table-cell;
  vertical-align: middle;
}
.aemImage > img {
  height: 335px;
  max-width: 427px;
}
.sharepointCloudDescription {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  padding-right: 5%;
  box-sizing: border-box;
}
/*chatbot new styles*/
.chatbotsBanner {
  text-align: center;
  display: table;
  width: 100%;
  background-size: cover;
  position: relative;
  margin-top: -64px;
  z-index: 1;
}
.chatbotsBanner img:nth-of-type(1) {
  width: 100%;
}
#breadcrumb.chatbotBreadcrumb {
  padding: 10px 0;
  background-color: rgba(255,255,255,0.70);
  width: 100%;
  position: relative;
  z-index: 2;
}
.chatbotsBanner h1 {
  position: absolute;
  top: 40%;
  right: 15%;
  color: #fff;
  text-align: right;
}
.chatbotsBanner h1 span {
  display: block;
}
.chatbotsBanner h1 span:first-child {
  font-size: 36px;
}
.chatbotsBanner h1 span:nth-child(2) {
  font-size: 42px;
  font-weight: 800;
}
#productsNav.digitalMarketingTab.chatbotNav {
  margin-top: 4%;
}
.chatbotsFirstWrapper {
  display: table;
}
.chatbotsFirstWrapper .subPortionContainer:nth-of-type(1) {
  padding-left: 0;
  box-sizing: border-box;
  width: 50%;
}
.chatbotsFirstWrapper .subPortionContainer:nth-of-type(1) p:nth-of-type(1) {
  padding-bottom: 30px;
}
.chatbotsFirstWrapper .subPortionContainer:nth-of-type(1) p:nth-of-type(2) {
  padding-top: 10px;
}
.chatbotsFirstWrapper .subPortionContainer:nth-of-type(2) {
  padding-left: 3%;
  margin-left: 3%;
  width: 50%;
}
.chatbotsFirstWrapper .subPortionContainer {
  display: table-cell;
  vertical-align: middle;
}
.chatbotForm {
  border: 1px solid #e0effe;
  border-radius: 10px;
  background-color: #f9fcff;
  padding: 25px;
  max-width: 400px;
  margin: 0;
  float: right;
}
.chatbotForm .subHead {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: 700;
}
.chatbotForm p {
  font-family: 'PoppinsMedium';
  color: #3f3f3f;
  text-align: center;
}
.inquiryFormLeft.clearfix {
  margin: 0 auto;
  width: 100%;
}
.smmRegisterForm {
  padding-top: 30px;
}
.halfFieldWrapper {
  display: flex;
  flex-direction: row;
}
.halfFieldWrapper .wideField:first-child {
  padding-right: 20px;
}
.halfFieldWrapper .wideField {
  flex: 50%;
}
.wideField {
  margin: 0 auto;
}
.wideField, .fieldLeft, .fieldRight {
  padding-bottom: 5px;
}
.wideField input[type="text"] {
  width: 100%;
}
#registerForm .errorMsg {
  padding: 0;
  font-size: 12px;
}
#registerForm .error_msgInquiry {
  margin: 0;
}
.wideField input[type="text"], 
.fieldLeft input[type="text"], .fieldRight input[type="text"], 
#registerForm .wideField textarea {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin: 5px 0;
  padding: 4px;
  box-sizing: border-box;
  color: #585656;
  font-family: 'OpenSansRegular';
}
#registerForm .wideField textarea {
  font-size: 16px;
}
.smmContentField textarea, 
.smmContentField .activeState {
  height: 90px !important;
  outline: none;
  display: block;
  resize: none;
  width: 100%;
}
.chatbotFirstSection .shareRegister {
  padding-bottom: 10px;
  padding-top: 5px;
} 
.smmRegisterForm {
  padding-top: 10px;
}
.shareRegister {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 15px;
}
.sharePointRegister {
  border: 0;
  background: #12a8e2;
  color: #fff;
  width: auto;
  padding: 5px 25px;
  line-height: 30px;
  font-weight: 600;
  font-size: 14px;
  outline: none;
  border-radius: 40px;
}
.sharePointRegister {
  transform: scale(1);
  transition: 0.15s all ease;
}
.sharePointRegister:hover {
  transform: scale(1.05);
}
.chatbotFirstSection .sharePointOnlineForm p.formPrivacyText, .formPrivacyText {
  text-align: center;
  font-size: 13px;
  color: #959596;
  font-family: 'Nunito',sans-serif;
}
.chatbotFirstSection .sharePointOnlineForm p {
  font-family: 'PoppinsMedium';
  color: #3f3f3f;
  text-align: center;
}
.formPrivacy {
  color: #4087ff;
  text-decoration: underline;
}
.sharePointResponse {
  text-align: center;
  padding: 30% 0 40% 0;
  display: none;
}
.sharePointResponse p:last-child {
  color: #008000;
}
.dealership {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  margin-top: 60px;
}
.dealership img {
  padding-top: 20px;
  padding-bottom: 10px;
}
.dealership p span {
  display: block;
}
.chatbotPersonality,
.buildChatbot {
  position: relative;
}
.chatbotPersonality img,
.buildChatbot img {
  position: absolute;
  top: 20%;
  width: 200px;
}
.chatbotPersonality img {
  left: 0;
}
.buildChatbot img {
  right: 0;
}
.chatbotIndFirstList>div:nth-of-type(1),
.blockchainAppWrapper div:nth-of-type(1),
.blockchainAppWrapper div:nth-of-type(4) {
  padding-left: 0;
}
.chatbotIndFirstList>div:nth-of-type(3),
.blockchainAppWrapper div:nth-of-type(3),
.blockchainAppWrapper div:nth-of-type(6) {
  padding-right: 0;
}
.workPara {
  padding-top: 20px;
}
.chatbotPlatform p:first-child {
  width: 14%;
}
.chatbotPlatform p:nth-of-type(2),
.chatbotPlatform p:nth-of-type(3),
.chatbotPlatform p:nth-of-type(4) {
  width: 28%;
}
.chatbotsFirstWrapper .listTextCommon {
  width: 84%;
}
.chatbotForm p.formPrivacyText {
  text-align: center;
  font-size: 13px;
  color: #959596;
  font-family: 'Nunito',sans-serif;
}
#productsNav.digitalMarketingTab.chatbotNav {
  display: none;
}
.chatbotsOuterWrapper {
  padding-top: 40px;
}
.chatbotsBanner img:nth-of-type(2) {
  position: absolute;
  left: 10%;
  bottom: 6px;
  width: 16%;
}
.golangBenefitWrapper {
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  padding: 30px 30px 30px 75px;
  position: relative;
  margin-bottom: 60px;
  margin-left: 50px;
}
.golangBenefitWrapper:nth-of-type(1) {
  margin-top: 30px;
}
.golangBenefitWrapper img {
  position: absolute;
  top: 18%;
  left: -55px;
}
.golangBenefitWrapper h3 {
  position: absolute;
  top: -20px;
  z-index: 4;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
.golangtwoSectionWrapper {
  display: flex;
  width: 100%;
}
.golangtwoSectionWrapper div {
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  flex: 50%;
}
.golangtwoSectionWrapper div:first-child {
  margin-right: 30px;
}
.golangtwoSectionWrapper div:nth-child(2) {
  margin-left: 30px;
}
.golangtwoSectionWrapper h3 {
  background-color: #f2f2f2;
  padding: 15px 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
.golangList {
  padding-left: 20px;
  box-sizing: border-box;
  list-style-type: disc;
  color: #da3a36;
  padding: 30px 30px 30px 50px;
}
.golangList span {
  color: #262626;
}
.golangList li:not(:last-child) {
  padding-bottom: 20px;
}
.golangGetinTouch {
  float: none;
  overflow: hidden;
  margin: 60px auto;
  text-align: center;
  padding: 30px 0;
}
.enterprisesList {
  padding: 20px 30px;
  box-sizing: border-box;
}
.enterprisesList li {
  width: 49%;
  display: inline-block;
}
.enterprisesList li span {
  background-image: url("../images/responsive/service/web/webapps/golang/sprite.png");
  height: 85px;
  width: 100%;
  display: inline-block;
}
.enterprisesList li:first-child span {
  max-width: 135px;
  background-position: -5px 0;
}
.enterprisesList li:nth-child(2) span,
.enterprisesList li:nth-child(3) span {
  max-width: 167px;
}
.enterprisesList li:nth-child(2) span {
  background-position: -317px 0px;
}
.enterprisesList li:nth-child(3) span {
  background-position: -150px 0px;
}
.enterprisesList li:nth-child(2) span,
.enterprisesList li:nth-child(4) span {
  float: right;
}
.enterprisesList li:nth-child(4) span {
  background-position: -496px 0px;
  max-width: 146px;
}
.enterprisesList li:nth-child(5) span {
  background-position: -665px 0px;
  max-width: 145px;
}
.enterprisesList li:last-child {
  width: 100%;
  text-align: center;
}
.golangGetinTouch p {
  color: #3f3f3f;
}
.golangGetinTouch #inqBtn {
  text-transform: initial;
}
.blockchainAppWrapper,
.blockchainPowerWrapperInner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.blockchainAppWrapper {
  padding-top: 40px;
}
.blockchainAppWrapper div {
  flex-grow: 0;
  flex-shrink: 0;
  width: 33%;
  padding: 30px;
  box-sizing: border-box;
}
.blockchainAppWrapper div:nth-of-type(1),
.blockchainAppWrapper div:nth-of-type(2),
.blockchainAppWrapper div:nth-of-type(4),
.blockchainAppWrapper div:nth-of-type(5) {
  border-right: 2px solid #f2f2f2;
}
.blockchainAppWrapper div:nth-of-type(1),
.blockchainAppWrapper div:nth-of-type(2),
.blockchainAppWrapper div:nth-of-type(3) {
  border-bottom: 2px solid #f2f2f2;
  padding-top: 0;
}
.blockchainAppWrapper div img {
  height: 70px;
}
.blockchainAppWrapper div img,
.blockchainAppWrapper div h3,
.blockchainPowerWrapperInner h3 {
  padding-bottom: 10px;
}
.smartContractWrapper {
  background-image: url("../images/responsive/solution/blockchain/smartContract.svg");
  background-repeat: no-repeat;
  background-position: left; 
}
.blockchainPowerBg {
  background-image: url(../images/responsive/solution/blockchain/blockchainPower.svg);
  background-repeat: no-repeat;
  background-position: right 22%;
}
.blockchainPower .container {
  position: relative;
  height: auto;
}
.blockchainPower [type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.blockchainPower label {
  display: block;
  width: 100%;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  transition: top 2s cubic-bezier(.44, .99, .48, 1);
}
.blockchainPower label:before,
.blockchainPower label:after {
  position: absolute;
}
.blockchainPower label:after {
  content: '';
  background-image: url("../images/responsive/solution/blockchain/arrowDown.svg");
  right: 10px;
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  left: 46%;
  z-index: 1;
}
.blockchainPower li.container label:before {
  height: 100px;
  content: "";
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  position: absolute;
  bottom: 25px;
}
.blockchainPowerWrapperInner li {
  width: 50%;
}
.blockchainPowerWrapperInner li:last-child {
  width: auto;
}
.blockchainPowerWrapperInner li,
.blockchainPower,
.blockchainPowerOuter h2,
.blockchainPowerOuter {
  padding-bottom: 40px;
}
.blockchainPowerWrapperInner li:last-child {
  border: 1px solid #d2d2d2;
  padding-bottom: 0;
  border-radius: 10px;
  padding: 40px;
}
.blockchainPower input[type="checkbox"] ~ ul {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 2s cubic-bezier(.44, .99, .48, 1);
}
.blockchainPower [type="checkbox"]:checked ~ ul {
  max-height: 1650px;
}
.blockchainPower [type="checkbox"]:checked + label {
  top: 100%;
}
.blockchainPower [type="checkbox"]:checked + label:after {
  content: '';
  background-image: url("../images/responsive/solution/blockchain/arrowUp.svg");
}
.blockchainPowerWrapperInner li:nth-of-type(1),
.blockchainPowerWrapperInner li:nth-of-type(3) {
  padding-right: 20px;
  box-sizing: border-box;
}
.blockchainPowerWrapperInner li:nth-of-type(2),
.blockchainPowerWrapperInner li:nth-of-type(4) {
  padding-left: 20px;
  box-sizing: border-box;
}
.blockchainTop {
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
  z-index: 1;
}
.blockchainTopWrapper {
  text-align: center;
  position: relative;
}
.blockchainTopWrapper:before {
  content: "";
  border-bottom: 1px solid #e5e5e5;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
}
.blockchainTopWrapper:after {
  content: "";
  border-bottom: 1px solid #e5e5e5;
  width: 50%;
  position: absolute;
  top: 50%;
  right: 0;
}
.blockchainFeaturedApp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  width: 91%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.blockchainFeaturedApp a {
  width: 30%;
  max-width: 370px;
  text-align: center;
  height: 270px;
  background-size: cover;
  display: table;
  position: relative;
  border-radius: 4px;
  -webkit-box-shadow: 0 30px 40px -16px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 30px 40px -16px rgba(0, 0, 0, .35);
  box-shadow: 0 30px 40px -16px rgba(0, 0, 0, .35);
  top: 0;
  transition: top ease 0.5s;
  padding: 40px 0;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 3%;
}
.webappsResourceWrapper .blockchainFeaturedApp a {
  width: 25%;
}
.blockchainSmart {
  background-image: url("../images/responsive/solution/blockchain/blockchainSmart.png");
}
.blockchainDrug {
  background-image: url("../images/responsive/solution/blockchain/blockchainDrug.png");
}
.blockchainFeaturedApp .blockchainDrug,
.blockchainFeaturedApp .blockchainSmart {
  background-position: bottom;
}
.moreStoryContent {
  width: 100%;
  color: #FFF;
  position: relative;
  z-index: 1;
  margin-top: 110px;
}
.thumbnailText {
  position: absolute;
  bottom: -170px;
  padding-left: 20px;
  text-align: left;
  transition: top ease 0.5s;
  padding-right: 20px;
}
.thumbnailText h3 {
  position: relative;
  top: 15px;
  transition: top ease 0.5s;
  padding: 0;
  width: 100%;
  font-family: 'Nunito',sans-serif;
  font-weight: 600;
}
.thumbnailText p {
  margin: 0;
  padding-bottom: 20px;
  line-height: 30px;
  text-align: left;
}
.thumbnailText .xtraContent {
  display: none;
}
.thumbnailText .xtraContent span {
  font-size: 22px;
  vertical-align: middle;
  font-family: 'Nunito',sans-serif;
  font-weight: 800;
  position: relative;
  top: -2px;
  left: 5px;
}
.cloudFeatured:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: .5;
  border-radius: 4px;
}
.blockchainFeaturedApp a:hover {
  top: -20px;
}
.blockchainFeaturedApp a:hover:after {
  opacity: .7;
}
.blockchainFeaturedApp a:hover .xtraContent {
  display: block;
  position: relative;
  top: 20px;
  font-family: 'Nunito',sans-serif;
  font-weight: 800;
  color: #fff;
}
.blockchainInquiry {
  padding-top: 80px;
}
/*web apps new page*/
.webappsContentSection {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  align-items: center;
}
.webappsContentSection>div {
  -webkit-flex: 82%;
  -o-flex: 82%;
  flex: 82%;
  -ms-flex: 82%;
  -moz-flex: 82%;
}
.webappsContentSection>figure {
  -webkit-flex: 18%;
  -o-flex: 18%;
  flex: 18%;
  -ms-flex: 18%;
  -moz-flex: 18%;
}
.webappsContentSection> *:first-child {
  margin-right: 40px;
}
.webappsContentSection h3 {
  padding-bottom: 10px;
}
.golangGetinTouch.webappsinTouch {
  margin-bottom: 0;
}
.hotelSoftware {
  background-image: url(../images/responsive/resource/casestudy/hotelSoftware.png)
}
.scoreTracking {
  background-image: url(../images/responsive/resource/casestudy/scoreTracker.png)
}
.onlineMarket {
  background-image: url(../images/responsive/resource/casestudy/customProducts.png)
}
.webappsResourceWrapper {
  padding-bottom: 100px;
}
.imgHolder.weappLogoList {
  margin-top: 20px;
  margin-bottom: 0;
}
.webappParaWrapper {
  padding-bottom: 40px;
}
@media screen and (max-width:1500px) {
  .enterprisesList li {
    width: 100%;
    text-align: center;
  }
  .enterprisesList li:nth-child(2) span, 
  .enterprisesList li:nth-child(4) span {
    float: none;
  }
}
@media screen and (max-width:1300px) {
  .chatbotsBanner h1 span:first-child {
    font-size: 30px;
  }
  .chatbotsBanner h1 span:nth-child(2) {
    font-size: 35px;
  }
}
@media screen and (max-width:1225px) {
  .chatbotPlatform p:first-child,
  .chatbotPlatform p:nth-of-type(2),
  .chatbotPlatform p:nth-of-type(3),
  .chatbotPlatform p:nth-of-type(4) {
    width: 49%;
  }
}
@media screen and (max-width:1039px) {
  .chatbotsBanner h1 {
    right: 8%;
    top: 35%;
  }
  .chatbotsBanner h1 span {
    display: block;
  }
  .chatbotsBanner h1 span:first-child {
    font-size: 30px;
  }
  .chatbotsBanner h1 span:nth-child(2) {
    font-size: 36px;
  }
  .chatbotPersonality img,
  .buildChatbot img {
    display: none;
  }
}
@media screen and (max-width:1180px) {
  .chatbotsBanner h1 {
    right: 8%;
    top: 35%;
  }
  .chatbotsBanner h1 span {
    display: block;
  }
}

/*new media query for block chain*/
@media screen and (min-width:1024px) and (max-width:1039px) {
  .subMenus .menuSelected li a {
    color: #da3a36;
    font-family: 'Nunito',sans-serif;
    font-weight: 700;
  }
  .erlangCaseContentWrapper .rightTextData {
    padding-left: 0;
  }
  .chatbotsOuterWrapper .bigDataWrapper {
    width: 100%;
  }
}

@media screen and (min-width:767px) and (max-width:1024px) {
  .webappsClientLogos ul.imgHolder li:nth-child(3) {
    width: 33%;
  }
  /*blockchain*/
  .blockchainAppWrapper div {
    width: 50%;
  }
  .blockchainAppWrapper div:nth-of-type(5) {
    padding-left: 0;
  }
  .blockchainAppWrapper div:nth-of-type(4) {
    padding-left: 30px;
    border-bottom: 2px solid #f2f2f2;
  }
  .blockchainAppWrapper div:nth-of-type(2),
  .blockchainAppWrapper div:nth-of-type(4) {
    border-right: 0;
    padding-right: 0;
  }
  .blockchainAppWrapper div:nth-of-type(3) {
    border-right: 2px solid #f2f2f2;
    padding-left: 0;
    padding-right: 30px;
    padding-top: 30px;
  }
  .chatbotsBanner h1 span:first-child {
    font-size: 26px;
  }
  .chatbotsBanner h1 span:nth-child(2) {
    font-size: 30px;
  }
  #productsNav.digitalMarketingTab.chatbotNav,
  .chatbotsBanner img:nth-of-type(2) {
    display: none;
  }
  .chatbotBreadcrumb #breadcrumbInner {
    display: block;
  }
  .block-img-holder .blockchain-img-list,
  .block-img-holder .blockchain-img-list:nth-child(3),
  .block-img-holder .blockchain-img-list:nth-child(4) {
    width: 50%;
  }
  .block-img-holder li:first-child span,
  .block-img-holder li:first-child:hover span {
    background-position: -3380px 186px;
  }
  .block-img-holder li:nth-child(2) span,
  .block-img-holder li:nth-child(2):hover span {
    background-position: -3478px 176px;
  }
  .block-img-holder li:nth-child(3) span,
  .block-img-holder li:nth-child(3):hover span {
    background-position: -3864px 187px;
  }
  .block-img-holder li:nth-child(4) span,
  .block-img-holder li:nth-child(4):hover span {
    background-position: -3710px 176px;
  }
  .cmsClientLogos li:first-child span,
  .cmsClientLogos li:first-child:hover span {
    background-position:  -165px 2px;
  }
  .cmsClientLogos li:nth-child(2) span,
  .cmsClientLogos li:nth-child(2):hover span {
    background-position: -1065px 9px;
  }
  .cmsClientLogos li:nth-child(3) span,
  .cmsClientLogos li:nth-child(3):hover span {
    background-position: -1182px 9px;
  }
  .weappLogoList li:first-child span,
  .weappLogoList li:first-child:hover span {
    background-position:  0 4px;
  }
  .weappLogoList li:nth-child(2) span,
  .weappLogoList li:nth-child(2):hover span {
    background-position: -165px 2px;
  }
  .weappLogoList li:nth-child(3) span,
  .weappLogoList li:nth-child(3):hover span {
    background-position:  -329px -7px;
  }
  .windowWrapper .leftTextData, 
  .windowWrapper .rightTextData {
    display: block;
  }
  .biContainer .rightTextData, 
  .cmsRightData.drupalcmsRightData {
    padding-top: 0;
  }
  .windowWrapper .leftTextData {
    padding-right: 0;
  }
  .biContainer .rightTextData,
  .windowWrapper .rightTextData,
  .erlangCaseContentWrapper .rightTextData,
  .microFirst p {
    padding-left: 0;
  }
  .biContainer,
  .biContent,
  .microIntFirstSection,
  .windowWrapper,
  .aspnetFirstSection,
  .windowWrapper .shareContent.bigDataWrapper {
    width: 88%;
  }
  .windowWrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .biContainer.shareContent,
  .microIntFirstSection.biFirstSection,
  .chatbotsOuterWrapper .bigDataWrapper,
  .webappsResourceWrapper .blockchainFeaturedApp,
  .webappsClientLogos .contentOuteWrapper,
  .webappsClientLogos .contentInnerWrapper {
    width: 100%;
  }
  .desktop-view-content {
    padding: 0 15px;
  }
  #toggle-less,
  #toggle-more {
    display: inline-block;
  }
  #details,
  .microsoftMain .microFirst .spLogo {
    display: none;
  }
  .block-img-holder .blockchain-img-list:nth-child(2) {
    margin-top: 20px;
  }
  .block-img-holder .blockchain-img-list:nth-child(4) {
    margin-top: 21px;
  }
  .block-img-holder .blockchain-img-list:nth-child(3) {
    margin-top: 10px;
  }
  .block-img-holder .blockchain-img-list:nth-child(2) img {
    width: 86%;
    margin-top: 3px;
  }
}
@media screen and (min-width:280px) and (max-width:767px) {
  .mobileContentSlide .mobile-collapse-contenting {
    display: inline-block;
  }
  /*web application*/
  .webappsContentSection>div,
  .webappsContentSection>figure {
    -webkit-flex: auto;
    -o-flex: auto;
    flex: auto;
    -ms-flex: auto;
    -moz-flex: auto;
    width: 100%;
  }
  .webappsContentSection {
    flex-direction: column;
    align-items: flex-start;
  }
  .webappsContentSection>figure {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    padding-bottom: 20px;
  }
  .webappsContentSection>div {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .webappsContentSection> *:first-child {
    margin-right: 0;
  }
  .webappsContentSection img {
    width: 120px;
  }
  .webappsinTouch p {
    line-height: 35px;
  }
  .golangGetinTouch.webappsinTouch {
    margin-top: 20px;
    padding-bottom: 0;
  }
  .imgHolder.weappLogoList {
    display: inline-block !important;
  }
  .imgHolder.weappLogoList li {
    width: 100%;
    padding-top: 30px;
  }
  .weappLogoList li:first-child span {
    background-position:  0 -7px;
  }
  .weappLogoList li:nth-child(2) span {
    background-position: -155px -2px;
  }
  .weappLogoList li:nth-child(3) span {
    background-position:  -329px -7px;
  }
  /*Blockchain*/
  .blockchainAppWrapper {
    padding-top: 0;
  }
  .golangBenefitWrapper:nth-of-type(1) {
    margin-top: 70px;
  }
  .blockchainPower label:after {
    left: 44%;
  }
  .blockchainPowerBg {
    background-image: none;
  }
  .smartContractWrapper {
    margin-top: -60px;
    background: none;
  }
  .blockchainAppWrapper,
  .blockchainPowerWrapperInner,
  .blockchainFeaturedApp {
    display: block;
  }
  .blockchainFeaturedApp {
    align-items: center;
  }
  .blockchainPowerWrapperInner {
    flex-wrap: nowrap;
  }
  .blockchainAppWrapper div:nth-of-type(1) {
    padding: 20px 0 0 0;
    border: none;
  }
  .blockchainAppWrapper div:nth-of-type(2), 
  .blockchainAppWrapper div:nth-of-type(3),
  .blockchainAppWrapper div:nth-of-type(4), 
  .blockchainAppWrapper div:nth-of-type(5),
  .blockchainAppWrapper div:nth-of-type(6) {
    border: none;
    padding: 40px 0 0 0;
  }
  .blockchainPowerWrapperInner li:nth-of-type(1), 
  .blockchainPowerWrapperInner li:nth-of-type(2),
  .blockchainPowerWrapperInner li:nth-of-type(3),
  .blockchainPowerWrapperInner li:nth-of-type(4) {
    padding: 0 0 40px 0;
  }
  .blockchainFeaturedApp a:hover {
    top: inherit;
  }
  .thumbnailText {
    position: absolute;
    top: -130px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }
  .blockchainFeaturedApp .xtraContent,
  .blockchainFeaturedApp a:hover .xtraContent {
    display: inline;
    position: relative;
    top: 100px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px;
    width: 140px;
    color: #fff;
    font-family: 'OpenSansBold';
  }
  .blockchainFeaturedApp a:nth-of-type(1),
  .webappsResourceWrapper .blockchainFeaturedApp a:nth-of-type(2) {
    margin-bottom: 40px;
  }
  .blockchainFeaturedApp a {
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
  }
  /*Golang*/
  .golangBenefitWrapper {
    padding: 75px 20px 20px 20px;
    margin-bottom: 100px;
    margin-left: 0;
  }
  .golangBenefitWrapper:nth-of-type(3) {
    margin-bottom: 50px;
  }
  .golangBenefitWrapper h3 {
    position: relative;
    top: 0;
    padding: 0 0 10px 0;
    background-color: transparent;
  }
  .golangBenefitWrapper img {
    top: -55px;
    left: 20px;
  }
  .golangtwoSectionWrapper {
    display: block;
  }
  .golangtwoSectionWrapper div:first-child {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .golangtwoSectionWrapper div:nth-child(2) {
    margin-left: 0;
  }
  #productsNav.digitalMarketingTab.chatbotNav {
    display: block;
  }
  .chatbotsFirstWrapper .listTextCommon {
    width: 80%;
  }
  .buildChatbot.commonBottomSection,
  .golangGetinTouch {
    margin-bottom: 0;
  }
  .chatbotsBanner h1 span:first-child,
  .chatbotsBanner h1 span:nth-child(2) {
    font-size: 32px;
    font-weight: 400;
  }
  .chatbotPlatform p:first-child, 
  .chatbotPlatform p:nth-of-type(2), 
  .chatbotPlatform p:nth-of-type(3) {
    padding-bottom: 30px;
  }
  .chatbotPersonalityWrapperSecond.chatbotPersonalityWrapper>div:first-child,
  .chatbotInquiry,
  .blockchainInquiry {
    padding-bottom: 40px;
  }
  .chatbotPersonalityWrapper,
  .chatbotsOuterWrapper {
    padding-top: 20px;
  }
  .dealership,
  .blockchainPowerWrapperInner li:last-child {
    padding: 20px;
  }
  .chatbotsFirstWrapper .subPortionContainer {
    display: block;
  }
  .chatbotsFirstWrapper .subPortionContainer:nth-of-type(1) {
    width: 100%;
  }
  #breadcrumb.chatbotBreadcrumb {
    width: 88%;
    padding: 20px 0;
  }
  .chatbotsBanner {
    margin-top: 0;
  }
  .chatbotsBanner h1 {
    color: #da3a36;
  }
  .chatbotsBanner h1 {
    text-align: center;
    margin: 0 auto;
    position: static;
  }
  #productsNav.digitalMarketingTab.chatbotNav {
    margin-top: -60px;
  }
  .chatbotsBanner h1 span {
    display: inline-block;
  }
  .chatbotsBanner img,
  .chatbotPersonality img, 
  .buildChatbot img,
  .chatbotsFirstWrapper .subPortionContainer:nth-of-type(2),
  .thumbnailText .xtraContent span {
    display: none;
  }
  .chatbotsIndustries .chatbotIndFirstList>div:first-child {
    padding-top: 30px;
  }
  .chatbotIndFirstList>div,
  .chatbotIndSecondList>div {
    width: 100%;
    padding: 0;
    display: block;
    text-align: left;
    padding-bottom: 40px;
    margin: 0 auto;
  }
  .chatbotIndFirstList,
  .chatbotIndSecondList,
  .chatbotIndFirstList>div, 
  .chatbotIndSecondList>div,
  .chatbotIndFirstList>div:first-child,
  .buildChatbot .chatbotIndFirstList {
    padding: 0;
  }
  .chatbotPersonalityWrapper>div {
    padding: 0;
    margin: 0;
  }
  .buildChatbot .chatbotIndFirstList h3,
  .buildChatbot .chatbotIndSecondList h3,
  .searchEngineSubhead,
  .chatbotsIndustries .searchEngineSubhead,
  .buildChatbot h3:nth-of-type(1),
  .golangtwoSectionWrapper h3,
  .thumbnailText h3 {
    text-align: left;
  }
  .block-img-holder li:first-child span,
  .block-img-holder li:first-child:hover span {
    background-position: -3380px 186px;
  }
  .block-img-holder li:nth-child(2) span,
  .block-img-holder li:nth-child(2):hover span {
    background-position: -3478px 176px;
  }
  .block-img-holder li:nth-child(3) span,
  .block-img-holder li:nth-child(3):hover span {
    background-position: -3864px 187px;
  }
  .block-img-holder li:nth-child(4) span,
  .block-img-holder li:nth-child(4):hover span {
    background-position: -3710px 176px;
  }
  .drupalText.expandTitleWrapper p {
    margin: 0 auto;
  }
  .chatbotsIndustries .chatbotIndFirstList>div,
  .chatbotsIndustries .chatbotIndSecondList>div {
    padding-bottom: 40px;
  }
  .sharepointCloudDescription {
    padding-right: 0;
    width: 100%;
    display: block;
  }
  .windowWrapper .leftTextData,
  .windowWrapper .rightTextData {
    display: block;
  }
  .content .windowWrapper .bigDataService .bigDataWrapper.windowUWP .leftTextData h2,
  .content .windowWrapper .bigDataService .bigDataWrapper.windowUWP .leftTextData p,
  .content .windowWrapper .bigDataService .bigDataWrapper.windowUWP .rightTextData h2,
  .content .windowWrapper .bigDataService .bigDataWrapper.windowUWP .rightTextData p {
    width: 100% !important;
  }
  .cmsRightData.drupalcmsRightData,
  .biContainer .rightTextData  {
    padding-top: 0;
  }
  .windowWrapper .leftTextData {
    padding-right: 0;
  }
  .windowWrapper .rightTextData,
  .biContainer .rightTextData,
  .erlangCaseContentWrapper .rightTextData,
  .microFirst p {
    padding-left: 0;
  }
  .biContent {
    width: 91%;
  }
  .microIntFirstSection,
  .content .bigDataService.biContent h2,
  .content .bigDataService.lampDataContainer h2,
  .content .bigDataService.rubyonRailsContent h2,
  .biContainer.shareContent,
  .bigDataWrapper.wordpressSite,
  .block-img-holder .blockchain-img-list,
  .block-img-holder .blockchain-img-list:nth-child(3),
  .block-img-holder .blockchain-img-list:nth-child(4),
  .chatbotIndSecondList,
  .chatbotPlatform p,
  .chatbotPlatform p:first-child, 
  .chatbotPlatform p:nth-of-type(2), 
  .chatbotPlatform p:nth-of-type(3), 
  .chatbotPlatform p:nth-of-type(4),
  .blockchainFeaturedApp a,
  .blockchainAppWrapper div,
  .blockchainPowerWrapperInner li,
  .webappsResourceWrapper .blockchainFeaturedApp a,
  .erlangBottom ul {
    width: 100%;
  }
  .biContent .rightTextData,
  .biWrapper .rightTextData {
    width: 100%;
    margin-left: auto;
  }
  /*block chain*/
  .text-data div {
    width: 100%;
    padding: 0;
  }
  .aspnetFirstSection .leftaspnetData p {
    text-align: left;
  }
  .aspnetFirstSection .leftaspnetData {
    margin-bottom: 30px;
  }
  .details-heading {
    margin-top: 20px;
  }
  #pythonCont .expandTitle {
    padding-left: 0;
  }
  #blockchain-app-container,
  .windowWrapper,
  .aspnetFirstSection {
    width: 100%;
  }
  .aspnetFirstSection .leftaspnetData,
  .headingSec.bigDataWrapper {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  .block-img-holder {
    margin-top: 10px;
  }
  .inquiry-para {
    padding: 0 20px;
  }
  .write-comments,
  .chatbotIndSecondList>div:nth-child(2) {
    padding-bottom: 0;
  }
  .block-img-holder .blockchain-img-list {
    width: 100%;
    margin-top: 20px;
  }
  .xtraP {
    padding: 0;
    transition: opacity .7s ease;
    transition: height 1.5s ease;
    transition: padding .7s ease;
    opacity: 0;
    height: 0;
  }
  .blockchain-icons,
  #label-in-desktop,
  .desktop-view-content h3,
  #details,
  .microsoftMain .microFirst .spLogo,
  #pythonCont .pythonLogo,
  #javaContent .javaLogo,
  #nodeMain .nodeLogo {
    display: none;
  }
  .mobile-collapse-content {
    font-size: 28px;
    padding: 20px 0;
    cursor: pointer;
  }
  .mobile-collapse-content span {
    margin-right: 10px;
  }
  .mob-block-heading {
    font-size: 18px;
  }
  .desktop-view-content {
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 1;
  }
  .mobile-collapse-content span:nth-child(1) {
    float: left;
    margin-top: 5px;
  }
  #public-private h2 {
    text-align: left;
    line-height: normal;
  }
  #toggle-less,
  #label-in-mobile,
  #toggle-more,
  #javaContent .midSection div:nth-child(1),
  .chatbotPersonalityWrapper {
    display: block;
  }
  #webappNav #mobMenuHolder,
  #webappNav #mobMenuHolder li,
  #javaContent .midSection .expandTitle,
  #javaContent .midSection div:nth-child(1) {
    width: 100%;
  }
  #webappNav #mobMenuHolder li a p {
    background-position: center left;
    padding-left: 0;
  }
  #webappNav .menuSelected li:first-child span.rubyimg,
  #webappNav #mobMenuHolder li a p.rubyimg {
    width: 24px;
  }
  /*python page*/
  #pythonCont .mainDesc {
    display: block;
    float: none;
    margin: 30px auto 0;
  }
  #pythonCont .subSection {
    display: block;
    float: none;
    margin: 30px auto 0;
    width: 88%;
  }
  #pythonCont .subSection div:nth-child(1) {
    display: block;
    padding-right: 0;
    width: 100%;
  }
  #pythonCont .subSection div:nth-child(2) {
    display: block;
    margin-top: 30px;
    width: 100%;
  }
  /*java page*/
  #javaContent .mainDesc {
    margin: 0 auto;
  }
  #javaContent .mainDesc .expandTitle.javaContent {
    padding-bottom: 20px;
  }
  #javaContent .mainDesc div:nth-child(2) {
    display: block;
    width: 100%;
  }
  #javaContent .midSection {
    margin: 0 auto 30px;
    width: 88%;
  }
  #javaContent .midSection .java-excel-image {
    display: block;
    margin: 30px 0 0;
    padding-left: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }
  #javaContent .bottomCont,
  .chatbotEnterprise .listTextCommon {
    margin: 0 auto;
    width: 88%;
  }
  #javaContent .bottomTable p {
    display: block;
    margin: 10px 0 0;
    padding-right: 0;
    width: 100%;
  }
  #javaContent .bottomTable ul {
    display: block;
    width: 94%;
    margin-top: 30px;
  }
  #nodeMain .nodeHeading {
    margin: 0 auto;
    width: 88%;
  }
  #nodeMain .nodeHeading.nodeJSHeading,
  #nodeMain .nodeHeading.lampHeading {
    width: 100%;
  }
  #nodeMain .nodeContent .nodeCell {
    display: block;
    margin-bottom: 30px;
    padding-right: 0;
    width: 100% !important;
  }
  #nodeMain .nodeContent {
    margin: 30px auto;
    width: 88%;
  }
  #nodeMain .nodeContent .nodeCell .expandTitle {
    width: auto;
  }
  #webappNav .menuSelected li:first-child span.javaimg,
  #webappNav .menuSelected li:first-child span.nodeimg,
  #webappNav .menuSelected li:first-child span.pythonimg,
  #webappNav .menuSelected li:first-child span.aspimg,
  #webappNav .menuSelected li:first-child span.lampimg {
    display: inline-block;
    margin-top: 6px;
  }
  #webappNav .menuSelected li:first-child span.nodeimg {
    width: 94px;
  }
  #webappNav .menuSelected li:first-child span.javaimg {
    width: 60px
  }
  #webappNav .menuSelected li:first-child span.pythonimg {
    width: 91px;
  }
  #webappNav .menuSelected li:first-child span.aspimg {
    width: 105px !important;
  }
  #webappNav .menuSelected li:first-child span.lampimg {
    width: 75px;
  }
  li.active .nodeimg {
    background: url("../images/responsive/service/web/webapps/ruby/node.png") no-repeat center center;
  }
  li.active .pythonimg {
    background: url("../images/responsive/service/web/webapps/ruby/pyth.png") no-repeat center center;
  }
  li.active .javaimg {
    background: url("../images/responsive/service/web/webapps/ruby/javalog.png") no-repeat center center;
  }
  li.active .aspimg {
    background: url("../images/responsive/service/web/webapps/ruby/asp.png") no-repeat center center;
  }
  li.active .lampimg {
    background: url("../images/responsive/service/web/webapps/ruby/lamp.png") no-repeat center center;
  }
  li.active .erlangimg {
    background: url("../images/responsive/service/web/webapps/erlang/erlang.png") no-repeat center left;
  }
  .erlangimg {
    background: url("../images/responsive/service/web/webapps/erlang/erlang.png") no-repeat center left;
  }
  .windowsServiceWrapper,
  .bigDataWrapper.wordpressSite .expandText {
    width: 88%;
    margin: auto;
  }
  .winContent {
    width: 88% !important;
    margin: auto;
  }
  .windowsService ul {
    display: list-item;
  }
  .windowsService ul li {
    width: 80%;
    margin: auto;
    padding: 30px !important;
  }
  .servicecontent {
    width: 100%;
  }
  .erlangIntro {
    float: none;
  }
  .erlangIntro p,
  .erlangContent p,
  .erlangBottom p {
    width: 100%!important;
  }
  .erlangIntroMain {
    margin-top: 20px;
  }
  .erlangContent {
    float: none;
    margin-top: 0px;
  }
  .erlangLeftContent {
    border-right: none;
    display: block;
    margin: 0 auto;
    padding-right: 0;
  }
  .erlangRightContent {
    display: block;
    margin: 0 auto;
    padding-left: 0;
    width: 100%;
    padding-bottom: 60px;
  }
  .erlangImg {
    float: none;
    margin: -20px auto 0;
    width: 100%;
    padding: 20px 0px;
  }
  .erlangImg h2 {
    margin-bottom: 20px;
  }
  .erlangImgHolder img {
    padding: 5px 3%;
  }
  .erlangImgHolder {
    padding-top: 0px;
  }
  .erlangContentWrap {
    margin-top: 10px;
  }
  .erlangBottom {
    float: none;
    width: 100%;
  }
  .erlangBottom .leftTextData,
  .erlangBottom .rightTextData {
    width: 100%;
    margin: 0 auto;
  }
  .erlangBottom .rightTextData li span:nth-child(2) {
    display: inline-block;
    width: 92%;
  }
  .erlangBtn {
    float: none;
    margin: 0 auto;
    width: 88%;
  }
}
@media screen and (min-width:1024px) {
  #details,
  #label-in-desktop {
    display: block!important;
  }
  .microFirst {
    padding-top: 20px;
  }
}
@media screen and (max-width:1024px) {
  li.active .rubyimg {
    background: url("../images/responsive/service/web/webapps/ruby/rubyonrails.png") no-repeat center center;
  }
}
@media (min-width: 768px) {
  .xtraP {
    opacity: 1 !important;
  }
  .blockchain-app .xtraP {
    opacity: 1 !important;
    height: auto !important;
    padding: 0 !important;
  }
}
